---
openapi: 3.0.3
info:
  title: onecx-workspace external service
  version: 1.0.0
servers:
  - url: "http://onecx-workspace:8080"
tags:
  - name: workspaceExternal
paths:
  /v1/workspaces/search:
    post:
      tags:
        - workspaceExternal
      description: search workspace abstracts by criteria
      operationId: searchWorkspaces
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSearchCriteria'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspacePageResult'
  /v1/workspaces/{name}:
    get:
      tags:
        - workspaceExternal
      description: get workspace by name
      operationId: getWorkspaceByName
      parameters:
        - $ref: '#/components/parameters/name'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
  /v1/workspaces/{name}/load:
    get:
      tags:
        - workspaceExternal
      description: Load workspace references to a workspace
      operationId: loadWorkspaceByName
      parameters:
        - $ref: '#/components/parameters/name'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceLoad'
        "404":
          description: Not found
components:
  schemas:
    WorkspaceLoad:
      type: object
      properties:
        name:
          type: string
        products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
    Workspace:
      required:
        - name
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        theme:
          type: string
        homePage:
          type: string
        baseUrl:
          type: string
        companyName:
          type: string
        phoneNumber:
          type: string
        rssFeedUrl:
          type: string
        footerLabel:
          type: string
        workspaceRoles:
          type: array
          uniqueItems: true
          items:
            type: string
        logoUrl:
          type: string
        address:
          $ref: '#/components/schemas/WorkspaceAddress'
        subjectLinks:
          uniqueItems: true
          maxItems: 3
          type: array
          items:
            $ref: '#/components/schemas/SubjectLink'
        imageUrls:
          uniqueItems: true
          type: array
          items:
            type: string
    WorkspaceAddress:
      type: object
      properties:
        street:
          type: string
        streetNo:
          type: string
        city:
          type: string
        country:
          type: string
        postalCode:
          type: string
    SubjectLink:
      type: object
      properties:
        label:
          type: string
        url:
          type: string
    WorkspacePageResult:
      type: object
      properties:
        totalElements:
          format: int64
          description: The total elements in the resource.
          type: integer
        number:
          format: int32
          type: integer
        size:
          format: int32
          type: integer
        totalPages:
          format: int64
          type: integer
        stream:
          type: array
          items:
            $ref: '#/components/schemas/WorkspaceAbstract'
    WorkspaceAbstract:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
    WorkspaceSearchCriteria:
      type: object
      properties:
        themeName:
          type: string
        productName:
          type: string
        pageNumber:
          format: int32
          description: The number of page.
          default: 0
          type: integer
        pageSize:
          format: int32
          description: The size of page
          default: 100
          type: integer
    Product:
      type: object
      properties:
        productName:
          type: string
        displayName:
          type: string
        baseUrl:
          type: string
        microfrontends:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Microfrontend'
    Microfrontend:
      type: object
      properties:
        mfeId:
          type: string
        basePath:
          type: string
  parameters:
    name:
      in: path
      name: name
      required: true
      schema:
        type: string
